.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Raleway", sans-serif;
}

.bg-dark {
  background-color: #202030 !important;
}

.btn-primary {
  color: #202030;
  background-color: #ffe503;
  border-color: #ffe503;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #202030 !important;
  background-color: #ffe505 !important;
  border-color: #ffe503 !important;
}

.btn-outline-primary {
  color: #ffe503 !important;
  background-color: transparent !important;
  border-color: #ffe503 !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #202030 !important;
  background-color: #ffe503 !important;
  border-color: #ffe503 !important;
}
.card {
  background-color: #252538 !important;
  color: #faf9f6;
}

/* Target the specific scrollable container */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;               /* Width of the vertical scrollbar */
  height: 6px;              /* Height of the horizontal scrollbar */
}

/* The background of the scrollbar (track) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;  /* Keeps it clean */
}

/* The draggable part (thumb) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;         /* Dark gray color */
  border-radius: 10px;      /* Rounded edges */
}

/* Hover effect on the thumb */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888;         /* Lighter gray on hover */
}

/* Support for Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

.bg-body-tertiary{
  background-color: #252538!important;
  color: #faf9f6;
}
.bg-primary{
  background-color: #ffe503!important;
  color: #202030!important;
}